.parent{
    border: solid 2px white;
     
}
.child{
    width:19%;
    height: 30%;
    border: solid 2px green;
}

#t1{
    border: solid 5px black;
    padding: 10px;
    margin-left: 50px;
    background-color: rosybrown;
    color: cornsilk;
    font-size: 20px;
    width: 1200;
    height: 50px;
    margin-top: 20px;
border-radius: 10px;
text-align: center;
}
#one{
    background-color: grey;
    display: inline-block;
}
#two{
   
    display: inline-block;
}
#three{
    background-color: grey;
    display: inline-block;
}
#four{
   
    display: inline-block;
}
#five{
    background-color: grey;
    display: inline-block;
}
#six{
   
    display: inline-block;
}
#seven{
    background-color: grey;
    display: inline-block;
}
#eight{
   
    display: inline-block;
}
/*
body{
    margin:10px
}
#t1{
    border: solid 5px black;
    padding: 10px;
    margin-left: 50px;
    background-color: rosybrown;
    color: cornsilk;
    font-size: 20px;
    width: 1200;
    height: 50px;
    margin-top: 20px;
border-radius: 10px;
text-align: center;
}


#k1{
    border: solid 5px black;
    padding: 10px;
    margin-left: 130px;
    background-color:darkgray;
    color:darkorchid;
    font-size: 20px;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
    float: left;
}

#k2{
    border: solid 2px white;
    padding: 10px;
    margin-right: 600px;
  
    color:black;
    font-size: 20px;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
    float: right;
}
*/
